<h1>Basket</h1>
<div id="card">
    {{#if courses.length}}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>count</th>
                <th>?</th>
            </tr>
            </thead>
            <tbody>
            {{#each courses}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}">del</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
        <p><strong>PRISE:</strong><span class="price">{{price}}</span></p>
        <form action="/orders" method="post">
            <button type="submit" class="btn">order</button>
        </form>
    {{else}}
        <p>basket is empty</p>
    {{/if}}
</div>
